
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<!-- SHOP SECTION-->
<section class="py-5">
    <div class="container py-4">
        <div class="row g-5">
            <!-- SHOP SIDEBAR-->
            <div class="col-lg-3">

                <!-- Categories-->
                <h3 class="h4 lined text-uppercase mb-4">Categories</h3>
                <ul class="nav flex-column nav-pills mb-4">
                    <li class="nav-item">
                        <a class="nav-link" href="shop-category.html">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">Product line 1</span>
                                <div class="badge bg-secondary">42</div>
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 1</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 2</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop-category.html">
                            <!-- <a class="nav-link active" href="shop-category.html"></a> -->
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">Product line 2</span>
                                <div class="badge bg-white text-primary">123</div>
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 1</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 2</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="shop-category.html">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">Product line 3</span>
                                <div class="badge bg-secondary">11</div>
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 1</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 2</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link ps-4 text-muted letter-spacing-1" href="shop-category.html">
                                    <span class="ps-2">PRODUCT 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a class="d-inline-block" href="#">
                    <img class="img-fluid" src="~/lib/img/banner.jpg"
                         alt="">
                </a>
            </div>




            <!-- SHOP LISTING-->
            <div class="col-lg-9">

                <!-- Carousel slider-->
                <div class="swiper-container homepage-slider">
                    <div class="swiper-wrapper">
                        <!-- Hero Slide-->
                        <div class="swiper-slide h-auto mb-5" style="background-color:blue;">
                            <!-- <img src="/~/lib//img/carousel1.png"/> -->
                            <div class="row gy-5 h-100 align-items-center">
                                <div class="col-lg-5 text-lg-end">
                                    <img class="ml-auto img-fluid"
                                         src="img/logo.png" alt="">
                                    <h1 class="text-uppercase">offer 1</h1>
                                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                                        <li class="mb-2">Business. Corporate. Agency.</li>
                                        <li>E-commerce.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-7">
                                    <img class="img-fluid" src="img/template-homepage.png"
                                         alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide-->
                        <!-- <div class="swiper-slide h-auto mb-5" style="background-color: chartreuse; background-image: url('~/lib/img/carousel2.png')"></div> -->
                        <div class="swiper-slide h-auto mb-5" style="background-color: chartreuse;">
                            <div class="row gy-5 h-100 align-items-center">
                                <div class="col-lg-7">
                                    <img class="img-fluid" src="img/template-mac.png" alt="">
                                </div>
                                <div class="col-lg-5">
                                    <h1 class="text-uppercase">Offer 2</h1>
                                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                                        <li class="mb-2">Variou Kind of Promo Codes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide-->
                        <div class="swiper-slide h-auto mb-5" style="background-color: darkgoldenrod;">
                            <div class="row gy-5 h-100 align-items-center">
                                <div class="col-lg-5 text-lg-end">
                                    <h1 class="text-uppercase">Offer 3</h1>
                                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                                        <li class="mb-2">Easily usable</li>
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <img class="img-fluid"
                                         src="img/template-easy-customize.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide-->
                        <div class="swiper-slide h-auto mb-5">
                            <div class="row gy-5 h-100 align-items-center">
                                <div class="col-lg-7">
                                    <img class="img-fluid" src="img/template-easy-code.png"
                                         alt="">
                                </div>
                                <div class="col-lg-5">
                                    <h1 class="text-uppercase">Easy to customize</h1>
                                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                                        <li class="mb-2">7 preprepared colour variations.</li>
                                        <li>Easily to change fonts</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-light"></div>
                </div>

                <br>
                <br>

                <div class="row gy-5 align-items-stretch">

                    <!-- Product-->
                    <div class="col-lg-4 col-md-6">
                        <div class="product h-100">
                            <div class="product-image">
                                <a href="shop-detail.html">
                                    <img class="img-fluid" src="~/lib/img/product1.jpg"
                                         alt="Fur coat with very but very very long name">
                                </a>
                            </div>
                            <div class="py-4 px-3 text-center">
                                <h3 class="h5 text-uppercase mb-3">
                                    <a class="reset-link"
                                       href="shop-detail.html">product with Long Name</a>
                                </h3>
                                <p class="mb-0">
                                    <div>
                                        $143.00
                                    </div>

                                    <div style="margin-top: 5px;;">
                                        <!-- Add to Cart Button -->
                                        <a class="cd-add-to-cart js-cd-add-to-cart" data-price="143.00">
                                            Add To
                                            Cart
                                        </a>
                                    </div>
                                </p>
                            </div>
                            <ul class="list-unstyled p-0 ribbon-holder mb-0">
                            </ul>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="col-lg-4 col-md-6">
                        <div class="product h-100">
                            <div class="product-image">
                                <a href="shop-detail.html">
                                    <img class="img-fluid" src="~/lib/img/product2.jpg"
                                         alt="Sample Product">
                                </a>
                            </div>
                            <div class="py-4 px-3 text-center">
                                <h3 class="h5 text-uppercase mb-3">
                                    <a class="reset-link"
                                       href="shop-detail.html">Sample Product</a>
                                </h3>
                                <p class="mb-0">
                                    <div>
                                        <del class="text-gray-500 me-2">$200.00</del>$143.00
                                    </div>
                                    <div style="margin-top: 5px;align-self:flex-end;">
                                        <!-- Add to Cart Button Function at car/Main.js.line98-->
                                        <a class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">
                                            Add To
                                            Cart
                                        </a>
                                    </div>
                                </p>
                            </div>
                            <ul class="list-unstyled p-0 ribbon-holder mb-0">
                                <li class="mb-1">
                                    <div class="ribbon sale ribbon-primary">SALE</div>
                                </li>
                                <li class="mb-1">
                                    <div class="ribbon new ribbon-info">NEW</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a class="d-block text-center py-4">
                    <img class="img-fluid" src="~/lib/img/banner2.jpg"
                         alt="banner">
                </a>
                <div class="text-center mb-5">
                    <a class="btn btn-outline-primary" href="#">
                        <i class="fas fa-angle-down me-2"></i>Load more
                    </a>
                </div>

                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>




